.modal-header{
      background-color:  #218ACB;
    }
    .modal-title{
      color:white;
      font-size:30px;
    }
    .modal-body{
      background-color: white;
    }
    .btn{
      background-color: #218ACB;
      color:white;
    }


/*
Author : 
  Team Name   : WaroengKita
  Team Leader : Ahmad Alimuddin
  Team Member : 
    1. M. Singgih Prasetyo
    2. Raden Isum
    3. Ilafi Firsta
    4. Maudy Nuryanti

Company / Institution 
  Alan MediaTech Indonesia

Company Site : 
  http://alan-inc.com

University  : 
  Paramadina University

Major     : 
  Informatics

Phone     : 081918305647; 

*/